<h1>Products</h1>
<hr>
<table id="productsTable">
    <tr>
        <td><strong>Producst</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Code</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Category</strong></td>
    </tr>
    {{#each data.docs}}
    <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.price}}</td>
    <td>{{this.code}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.category}}</td>
    </tr>
    {{/each}}  
</table>
<div>
        {{#if data.hasPrevPage}}
            <a href="{{data.prevLink}}">Previous</a>
        {{/if}}

        {{#if data.hasNextPage}}
        <a href="{{data.nextLink}}">Next</a>
        {{/if}}
        <p>END</p>
    </div>
<div id="moving"></div>